# =========
# LLM
# =========
openai

# =========
# Workflow
# =========
langgraph
langchain
langchain-openai

langchain-community==0.3.31

# =========
# Retrieval
# =========
qdrant-client
faiss-cpu

# =========
# Embedding
# =========
sentence-transformers

# =========
# Graph
# =========
networkx

# =========
# RAG
# =========
llama-index

# =========
# Evaluation
# =========
ragas==0.3.8

# =========
# Papers
# =========
arxiv
pypdf

# =========
# Utility
# =========
numpy
python-dotenv
requests
rich
tiktoken