# =========
# LLM
# =========
openai
tiktoken


# =========
# Workflow
# =========
langgraph
langchain
langchain-openai
langchain-community==0.3.31


# =========
# Retrieval
# =========
qdrant-client
faiss-cpu


# =========
# Embedding
# =========
sentence-transformers
transformers
torch


# =========
# Graph
# =========
networkx


# =========
# RAG
# =========
llama-index


# =========
# Evaluation
# =========
ragas==0.3.8


# =========
# Papers
# =========
arxiv
pypdf


# =========
# NLP Entity Extraction
# =========
scispacy
spacy

https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/en_core_sci_sm-0.5.4.tar.gz


# =========
# Utility
# =========
numpy
python-dotenv
requests
rich

frontend
PyMuPDF